.navigation-container1 {
  display: contents;
}
 
.navigation-navigationtoggle-icon1 {
  top: 50%;
  left: 50%;
  color: var(--color-on-surface);
  width: 24px;
  height: 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity var(--animation-duration-fast)
        var(--animation-curve-primary),
      transform var(--animation-duration-fast) var(--animation-curve-primary);
}
 
.navigation-navigationtoggle-icon2 {
  top: 50%;
  left: 50%;
  color: var(--color-on-surface);
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity var(--animation-duration-fast)
        var(--animation-curve-primary),
      transform var(--animation-duration-fast) var(--animation-curve-primary);
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
